annotated-types==0.7.0
anyio==4.8.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
docutils==0.21.2
filelock==3.18.0
fsspec==2025.3.0
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.29.3
idna==3.10
itsdangerous==2.2.0
jedi==0.19.2
jinja2==3.1.6
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
langchain==0.3.20
langchain-core==0.3.45
langchain-text-splitters==0.3.6
langsmith==0.3.15
marimo==0.11.17
markdown==3.7
markupsafe==3.0.2
mpmath==1.3.0
narwhals==1.30.0
networkx==3.4.2
numpy==2.2.3
orjson==3.10.15
packaging==24.2
pandas==2.2.3
parso==0.8.4
pillow==11.1.0
pip==24.0
polars==1.24.0
psutil==7.0.0
pycrdt==0.11.1
pydantic==2.10.6
pydantic-core==2.27.2
pygments==2.19.1
pymdown-extensions==10.14.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-env==1.0.0
pytz==2025.1
pyyaml==6.0.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
ruff==0.9.10
safetensors==0.5.3
scikit-learn==1.6.1
scipy==1.15.2
sentence-transformers==3.4.1
setuptools==76.0.0
six==1.17.0
sniffio==1.3.1
sqlalchemy==2.0.39
starlette==0.46.1
sympy==1.13.1
tenacity==9.0.0
threadpoolctl==3.6.0
tokenizers==0.21.1
tomlkit==0.13.2
torch==2.6.0
tqdm==4.67.1
transformers==4.49.0
typing-extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
uv==0.6.6
uvicorn==0.34.0
websockets==15.0.1
zstandard==0.23.0
