anyio==4.8.0
click==8.1.8
docutils==0.21.2
h11==0.14.0
idna==3.10
itsdangerous==2.2.0
jedi==0.19.2
marimo==0.11.17
markdown==3.7
narwhals==1.30.0
packaging==24.2
parso==0.8.4
pip==24.0
polars==1.24.0
psutil==7.0.0
pycrdt==0.11.1
pygments==2.19.1
pymdown-extensions==10.14.3
pyyaml==6.0.2
ruff==0.9.10
sniffio==1.3.1
starlette==0.46.1
tomlkit==0.13.2
typing-extensions==4.12.2
uv==0.6.6
uvicorn==0.34.0
websockets==15.0.1
